@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Fira Code", monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.animation {
    position: relative;
    padding: 10px;
    overflow: hidden;
}

.animation::after {
    position: absolute;
    content: "Verify!";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #f9f5ff;
    height: 100%;
    overflow: hidden;
}

.animation::before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 100%;
    background-color: #d4c2fc;
    animation: buttonAnimationOut 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.animation:hover::before {
    opacity: 1;
    animation: buttonAnimationIn 0.5s ease;
}

@keyframes buttonAnimationIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes buttonAnimationOut {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.animation:hover::before {
    opacity: 1;
    animation: buttonAnimationIn 0.5s forwards;
}

.animation:hover::after {
    opacity: 1;
    animation: afterKeyframe 0.5s forwards;
}

.animation:after {
    opacity: 1;
    animation: afterKeyframeOut 0.5s forwards;
}

@keyframes buttonAnimationIn {
    from {
        width: 0;
    }
    to {
        color: black;
        width: 100%;
    }
}

@keyframes buttonAnimationOut {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes afterKeyframe {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes afterKeyframeOut {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

.screnAnimation {
    position: relative;
    animation: screenOver 1s forwards ease-out;
}

.screnAnimation::before {
    padding: 5;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d4c2fc;
    z-index: 10;
    top: 0;
    animation: screenOpen 1s forwards ease-out;
}

@keyframes screenOpen {
    0% {
        top: 0;
        opacity: 1;
    }
    99% {
        top: 100vh;
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes screenOver {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: auto;
    }
}
